mixin content-caption(caption, texts, className)
  .content-caption(class=className + "__content-caption")
    h3.content-caption__caption(class=className + "__caption") #{caption}
    each text in texts
      p.content-caption__subcaption(class=className + "__subcaption") #{text}
