mixin sphere-card(src, title, href="#", altImage="alt", altArroy="alt")
	.sphere-card
		h3.sphere-card_title #{title}
		a(href=href).link.sphere-card_link
			img(src="../../img/arroy.svg", alt=altArroy).sphere-card_arroy
		img(src=src, alt=altImage).sphere-card_image